@font-face {
    font-family: 'WorkSans-Regular';
    src: url('./fonts/WorkSans-Regular.ttf');
}
* {
    margin: 0;
    font-family: 'WorkSans-Regular';
}

.header {
    background-image: url("./images/header-bg.png");
    background-size: cover;
    padding: 100px 0;
}
.header-content {
   color: white;
   display: flex;
   flex-direction: column;
   align-items: end;
   text-align: end;
   padding-right: 40px;
}
.content-title {
    font-weight: 700;
    font-size: 65px;
    color: white;
}
.content-description {
    font-weight: 400;
    font-size: 14px;
    color: white;

}
.btn {
    margin-top: 60px;
    width: 160px;
    height: 64px;
    cursor: pointer;
    color: #005fac;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
}

/* main section */

.main {
    padding: 100px;
}

.main-content {
    display: flex;
    margin-top: 50px;
    gap: 100px;
}
.article {
    margin-top: 200px;
}
.article-title {
    display: block;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
    color: #151414;
}
.article-description {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 20px;
}
.article ul {
    line-height: 26px;
    list-style: none;
    padding-inline-start: 0px;
}

/* Planning Section */

.planning-title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px;
    margin-top: 130px;
}
.planning-content {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
       
}
.planning-content__title { 
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
}

.all-box {
    display: flex;
    gap: 20px;
}

.box-one {
    width: 300px;
    text-align: center;
}
.box-title {
    font-weight: 700;
    font-size: 26px;
    margin-top: 20px;
}

.box-description {
    margin-top: 10px;
    color: #737272;
    font-size: 26px;
} 

/* contact section */

.contact {
    background-image: linear-gradient(90deg,#005fac 0%,rgba(0, 95, 172, 0)100%), url("./images/watch1.png");
    padding: 10px 65px 85px 65px;
    background-repeat: no-repeat;
    margin-top: 150px;
}
.contact-description {
    font-weight: 700;
    font-size: 40px;
    text-align: left;
    color: white;
    width: 450px;
    margin-bottom: 10px;
    margin-top: 15px;
}
.contact-btn {
    width: 160px;
    height: 64px;
    cursor: pointer;
    color: #005fac;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    margin-top: 20px;
}

/* Footer section */

.footer-section {
    background-color: black;
    padding: 150px;
    display: flex;
}
.footer-title {
    color: white;
    font-weight: 700;
    font-size: 45px;
    line-height: 80px;
}
.footer-description {
    margin-right: 250px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: white;
}
.footer-address {
    margin-top: 10px;
    color: white;
}
.footer-icon {
    gap: 20px;
    margin-top: 30px;
    display: flex;
}

/* Subscribe Part */

.subscribe-part {
    color: white;
}
.subscribe-title {
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
}
.icon-color {
    color: rgb(14, 243, 14);
}
.email-form {
    width: 280px;
    padding: 15px;
    border: 1px solid white;
    border-radius: 8px;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: transparent;
    color: #ffff;
}
.submit {
    background: #005fac;
    border-radius: 8px;
    padding: 20px 35px;
    font-size: 20px;
    cursor: pointer;
    color: #ffff;
}


/* Mobile version */

@media only screen and (max-width: 600px){
    .content-title{
        font-size: 20px;
    }
    .header {
        padding: 10px;
    }
    .header-content {
        padding-right: 5px;
    }
    .content-description {
        font-size: 5px;
    }
    .btn {
        margin-top: 60px;
        width: 115px;
        height: 50px;
        font-size: 16px;
    }
    .main-content {
        display: table-row;
    }

    .img {
        width: 250px;
        height: 400px;
    }
    .all-box {
        display: table-row;
        justify-content: center;
        gap: 30px;
    }
    .box-one {
        width: 165px;
        margin-top: 40px;
    }
    .box-title {
        font-size: 18px;
    }
    .box-description {
        font-size: 18px;
    }

    .footer-section {
        display: table-row;
    }
}



