@font-face {
    font-family: 'WorkSans-Regular';
    src: url('./fonts/WorkSans-Regular.ttf');
}
* {
    margin: 0;
    font-family: 'WorkSans-Regular';
}

.header {
    background-image: url("./images/header-bg.png");
    background-size: cover;
    padding: 341px 0;
}
.header-content {
   color: white;
   display: flex;
   text-align: center;
}
.header-content__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 65px;
    position: absolute;
    width: 500px;
    height: 228px;
    left: 790px;
    top: 154px;
}
.header-content__description {
    margin-top: 60px;
    position: absolute;
    width: 430px;
    height: 78px;
    left: 876px;
    top: 400px;
    font-weight: 400;
    font-size: 14px;
}
.btn {
    margin-top: 60px;
    position: absolute;
    width: 160px;
    height: 64px;
    left: 1146px;
    top: 480px;
    cursor: pointer;
    color: #005fac;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
}

/* main section */

.main {
    padding: 100px;
}

.main-content {
    display: flex;
    margin-top: 50px;
    gap: 100px;
}
.article {
    margin-top: 200px;
}
.article-title {
    display: block;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
    color: #151414;
    
}
.article-description {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 20px;
}
.article ul {
    line-height: 26px;
}

/* Planning Section */

.planning-section {

}
.planning-title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px;
    margin-top: 130px;
}
.planning-content {
    display: flex;
    justify-content: space-between;
    
}
.planning-content__title {
    display: flex;
    justify-content: space-between;

}.planning-content__sub-title-1 {
    font-weight: 700;
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
}
.planning-content__sub-title-2 {
    font-weight: 700;
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
}
.planning-content__sub-title-3 {
    font-weight: 700;
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
}
.planning-content__sub-title-4 {
    font-weight: 700;
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
}
.planning-content__description {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    color: #737272;
    font-size: 26px;
}

/* contact section */

.contact {
    background-image: linear-gradient(90deg,#005fac 0%,rgba(0, 95, 172, 0)100%), url("./images/watch1.png");
    padding: 10px 65px 85px 65px;
    background-repeat: no-repeat;
    margin-top: 150px;
}
.contact-description {
    font-weight: 700;
    font-size: 40px;
    text-align: left;
    color: white;
    width: 450px;
    margin-bottom: 10px;
    margin-top: 15px;
}
.contact-btn {
    width: 160px;
    height: 64px;
    cursor: pointer;
    color: #005fac;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    margin-top: 20px;
}